<div id="incorrect" style="display: none;" class="incorrect_answer">Неправильный ответ</div>

<p align="center" class="level_text"><b>Уровень 9. Загадка</b></p>
<p align="center">
  <input  id="answer" type="text" autocomplete="off">
  <input type="submit" value="ответить" (click)="checkAnswers()">
</p>

<p>найдите три подсказки, ответом является первый материал изготовления на википедии данного предмета</p>
<!--1 ая подсказка-->
<p style="font-size: 0;">https://docs.google.com/document/d/1rHX1TGkp-R8nBxEO1uCkNoLRzNXS9DhhfrD3jXHSaKM/edit?usp=sharing</p>
<!--2 ая подсказка-->
<input id="input1" type="text" (input)="show_mes()">
<!--3 я подсказка-->
<!--подсказка в консоле-->
