<div id="incorrect" style="display: none;" class="incorrect_answer">Неправильный ответ</div>

<p align="center" class="level_text"><b>Уровень 10. Найди меня</b></p>
<p align="center" style="font-size: 20px">Мне кажется тут что-то есть</p>
<p align="center">
  <input  id="answer" type="text" autocomplete="off">
  <input type="submit" value="ответить" (click)="checkAnswers()">
</p>


<img src="../../../../assets/img/table/table.png" longdesc="https://docs.google.com/document/d/1m26t12kS-Cj9ofStdk4Mpa1_DjsBVkYWxdjDKKjS-ho/edit?usp=sharing">
<div (click)="write()" style="width: 100px; height: 100px;" id="new-add-a"></div>
<img style="margin-top: 40px;" src="../../../../assets/img/table/mask2.png" alt="mask2">
