<div id="incorrect" style="display: none;" class="incorrect_answer">Неправильный ответ</div>

<p align="center" class="level_text"><b>Уровень 6. Лабиринт</b></p>
<p align="center" style="font-size: 20px;">Выведите в ответ точку, которая будет являться концом лабиринта</p>
<p align="center" style="font-size: 20px;">Предупреждаю, соит подумать</p>
<p align="center">
  <input  id="answer" type="text" autocomplete="off">
  <input type="submit" value="ответить" (click)="checkAnswers()">
</p>
<img src="../../../../assets/img/labirint.png" alt="лабиринт">

<p style="font-size: 0; margin-top: 40px">
  pfkbdrf d htlfrnjht
</p>




