<div id="incorrect" style="display: none;" class="incorrect_answer">Неправильный ответ</div>

<p align="center" class="level_text"><b>Уровень 3. 80-SYM</b></p>
<p align="center">
  <input  id="answer" type="text" autocomplete="off">
  <input type="submit" value="ответить" (click)="checkAnswers()">
</p>

<p>╔═80-sym══════════════════════════════════════════════════════════════════════╗ ║-------------------████████╗██████╗--██████╗-███╗---██╗----------------------║ ║-------------------╚══██╔══╝██╔══██╗██╔═══██╗████╗--██║----------------------║ ║----------------------██║---██████╔╝██║---██║██╔██╗-██║----------------------║ ║----------------------██║---██╔══██╗██║---██║██║╚██╗██║–---------------------║ ║----------------------██║---██║--██║╚██████╔╝██║-╚████║----------------------║ ║----------------------╚═╝---╚═╝--╚═╝-╚═════╝ ╚═╝--╚═══╝----------------------║ ╚═════════════════════════════════════════════════════════════════════════════╝
</p>
